[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
catboost = "*"
pandas = "*"
requests = "<2.11.0"

[dev-packages]

[requires]
python_version = "3.9"
