[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-search-results = "*"
googletrans = "==4.0.0-rc1"
flask = "*"
requests = "<2.11.0"
gunicorn = "==19.9.0"
pillow = "*"
tensorflow-cpu = "*"
tflite-support = "==0.3.1"

[dev-packages]
awscli = "*"

[requires]
python_version = "3.9"
